In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from itertools import cycle, islice
from matplotlib import cm

%matplotlib inline

## Preparing the complete table for PROTECT dataset

In [ ]:
txt_list = ['GSM2933004_15058.txt', 'GSM2932885_3906.txt', 'GSM2932988_15102.txt', 'GSM2932965_9998.txt', 'GSM2932961_750.txt', 'GSM2932993_10647.txt', 'GSM2933020_5028.txt', 'GSM2932845_3044.txt', 'GSM2932887_2548.txt', 'GSM2932967_11985.txt', 'GSM2932893_8836.txt', 'GSM2932920_13754.txt', 'GSM2932838_6424.txt', 'GSM2932823_Control17.txt', 'GSM2932817_Control11.txt', 'GSM2932856_4892.txt', 'GSM2932998_9131.txt', 'GSM2932979_9756.txt', 'GSM2932943_12532.txt', 'GSM2932909_1061.txt', 'GSM2932942_1474.txt', 'GSM2932907_1555.txt', 'GSM2932974_2923.txt', 'GSM2933007_14597.txt', 'GSM2932815_Control9.txt', 'GSM2933027_9479.txt', 'GSM2932954_11001.txt', 'GSM2933028_12966.txt', 'GSM2932948_133.txt', 'GSM2932991_11369.txt', 'GSM2933025_8856.txt', 'GSM2932832_458.txt', 'GSM2932849_1450.txt', 'GSM2932952_9975.txt', 'GSM2932836_41.txt', 'GSM2932830_5170.txt', 'GSM2933031_15368.txt', 'GSM2932880_13518.txt', 'GSM2932860_1115.txt', 'GSM2932905_8553.txt', 'GSM2932869_9329.txt', 'GSM2932944_12617.txt', 'GSM2932970_12868.txt', 'GSM2932986_9270.txt', 'GSM2932932_13760.txt', 'GSM2932997_4160.txt', 'GSM2932913_3185.txt', 'GSM2933029_7204.txt', 'GSM2932867_3398.txt', 'GSM2932910_8534.txt', 'GSM2932985_12815.txt', 'GSM2933011_11323.txt', 'GSM2933002_6160.txt', 'GSM2932879_10272.txt', 'GSM2932870_11783.txt', 'GSM2932819_Control13.txt', 'GSM2933005_11833.txt', 'GSM2932808_Control2.txt', 'GSM2932902_5356.txt', 'GSM2932903_1803.txt', 'GSM2932941_4199.txt', 'GSM2932929_2458.txt', 'GSM2932850_1456.txt', 'GSM2932848_1178.txt', 'GSM2932957_1108.txt', 'GSM2932840_10705.txt', 'GSM2933010_9563.txt', 'GSM2932914_8108.txt', 'GSM2932936_5366.txt', 'GSM2932859_9191.txt', 'GSM2932959_14401.txt', 'GSM2932824_Control18.txt', 'GSM2933016_13099.txt', 'GSM2932864_4904.txt', 'GSM2932894_19.txt', 'GSM2932995_12674.txt', 'GSM2932964_2171.txt', 'GSM2933032_14392.txt', 'GSM2932956_2667.txt', 'GSM2932834_10897.txt', 'GSM2932847_14523.txt', 'GSM2932994_11250.txt', 'GSM2933021_8298.txt', 'GSM2932873_1119.txt', 'GSM2932984_2506.txt', 'GSM2932827_11983.txt', 'GSM2932839_4522.txt', 'GSM2932928_1568.txt', 'GSM2932846_10750.txt', 'GSM2932829_5087.txt', 'GSM2932927_5206.txt', 'GSM2932820_Control14.txt', 'GSM2932950_7802.txt', 'GSM2932912_2198.txt', 'GSM2933017_1318.txt', 'GSM2932882_4564.txt', 'GSM2932844_1545.txt', 'GSM2933023_3578.txt', 'GSM2932968_5964.txt', 'GSM2932810_Control4.txt', 'GSM2932813_Control7.txt', 'GSM2932975_5463.txt', 'GSM2933013_11668.txt', 'GSM2932851_9872.txt', 'GSM2933015_6184.txt', 'GSM2932930_4289.txt', 'GSM2932953_8397.txt', 'GSM2932937_8045.txt', 'GSM2932899_2730.txt', 'GSM2932916_14381.txt', 'GSM2932825_Control19.txt', 'GSM2932831_3800.txt', 'GSM2932812_Control6.txt', 'GSM2932811_Control5.txt', 'GSM2932951_6565.txt', 'GSM2932939_13362.txt', 'GSM2932958_14516.txt', 'GSM2932955_13172.txt', 'GSM2932917_13305.txt', 'GSM2932981_7551.txt', 'GSM2932881_2359.txt', 'GSM2932923_12296.txt', 'GSM2932901_13310.txt', 'GSM2932960_9763.txt', 'GSM2932890_13459.txt', 'GSM2932935_10003.txt', 'GSM2932962_3115.txt', 'GSM2932818_Control12.txt', 'GSM2932876_2703.txt', 'GSM2932877_13363.txt', 'GSM2932843_3989.txt', 'GSM2932828_9658.txt', 'GSM2932904_2087.txt', 'GSM2932945_12881.txt', 'GSM2932971_11229.txt', 'GSM2932884_9764.txt', 'GSM2932841_7694.txt', 'GSM2932915_11383.txt', 'GSM2932921_13096.txt', 'GSM2933012_8181.txt', 'GSM2932863_7939.txt', 'GSM2932925_4390.txt', 'GSM2933024_5796.txt', 'GSM2932833_5175.txt', 'GSM2932855_8244.txt', 'GSM2932924_10710.txt', 'GSM2932949_3286.txt', 'GSM2932861_1087.txt', 'GSM2932922_4491.txt', 'GSM2932931_6261.txt', 'GSM2932889_2073.txt', 'GSM2933008_6991.txt', 'GSM2933022_9149.txt', 'GSM2932871_1023.txt', 'GSM2932919_13332.txt', 'GSM2932853_2970.txt', 'GSM2932938_2433.txt', 'GSM2932888_2766.txt', 'GSM2932987_8821.txt', 'GSM2933026_9924.txt', 'GSM2932946_8328.txt', 'GSM2932809_Control3.txt', 'GSM2932878_13651.txt', 'GSM2932854_14195.txt', 'GSM2932872_9761.txt', 'GSM2932821_Control15.txt', 'GSM2932990_894.txt', 'GSM2932989_12052.txt', 'GSM2933003_7011.txt', 'GSM2932977_8816.txt', 'GSM2932963_519.txt', 'GSM2932918_1682.txt', 'GSM2932992_3159.txt', 'GSM2932896_387.txt', 'GSM2932908_137.txt', 'GSM2932816_Control10.txt', 'GSM2932822_Control16.txt', 'GSM2932862_8680.txt', 'GSM2932858_14748.txt', 'GSM2932969_7218.txt', 'GSM2932852_7272.txt', 'GSM2933018_7505.txt', 'GSM2932983_4050.txt', 'GSM2932966_2710.txt', 'GSM2932972_6333.txt', 'GSM2932837_8273.txt', 'GSM2932980_9334.txt', 'GSM2932842_6659.txt', 'GSM2932865_3101.txt', 'GSM2932947_399.txt', 'GSM2932906_4096.txt', 'GSM2932857_10473.txt', 'GSM2932883_10840.txt', 'GSM2932891_11688.txt', 'GSM2933019_7506.txt', 'GSM2933009_3939.txt', 'GSM2932897_8009.txt', 'GSM2932911_7805.txt', 'GSM2933030_1395.txt', 'GSM2932886_8771.txt', 'GSM2932875_2076.txt', 'GSM2932835_13450.txt', 'GSM2932814_Control8.txt', 'GSM2933006_11730.txt', 'GSM2933000_15259.txt', 'GSM2932926_13958.txt', 'GSM2932999_11516.txt', 'GSM2933014_2648.txt', 'GSM2932895_5244.txt', 'GSM2932892_3711.txt', 'GSM2932982_11827.txt', 'GSM2932973_1035.txt', 'GSM2932807_Control1.txt', 'GSM2932826_Control20.txt', 'GSM2932933_9687.txt', 'GSM2932978_2390.txt', 'GSM2932866_1321.txt', 'GSM2932996_2637.txt', 'GSM2932976_855.txt', 'GSM2933001_11542.txt', 'GSM2932940_14224.txt', 'GSM2932900_13308.txt', 'GSM2932898_12548.txt', 'GSM2932868_4205.txt', 'GSM2932934_12976.txt', 'GSM2932874_582.txt']

In [ ]:
txt_list.sort(reverse = False)

In [ ]:
txt_list

In [ ]:
new_names = []

for i in txt_list:
  i = i.split('_')[0]
  new_names.append(i)

for i,j in zip(txt_list, new_names):
  j = pd.read_csv(i)

In [ ]:
main_dataframe = pd.DataFrame(pd.read_table(txt_list[0]))
sf = pd.Series()
for i in range(0,len(txt_list)):
    data = pd.read_table(txt_list[i])
    if i == 0:
     df = pd.DataFrame(data)
     df = df.rename(columns={df.columns[1]: txt_list[i]}) #Rename value column to filename
     main_dataframe = df
     for col in main_dataframe.columns:
       name = col.split('_')[0]
       main_dataframe.rename(columns = {col : name}, inplace = True) #Leave onle the string that somes before the _ as acolumn name
    else:
     df = pd.DataFrame(data.iloc[:,1])
     df = df.rename(columns={df.columns[0]: txt_list[i]})
     main_dataframe = pd.concat([main_dataframe,df], axis = 1) # add only the value column (without the gene name column) to the dataframe
     for col in main_dataframe.columns:
       name = col.split('_')[0]
       main_dataframe.rename(columns = {col : name}, inplace = True)
  
  
main_dataframe.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.

,Gene,GSM2932807,GSM2932808,GSM2932809,GSM2932810,GSM2932811,GSM2932812,GSM2932813,GSM2932814,GSM2932815,...,GSM2933023,GSM2933024,GSM2933025,GSM2933026,GSM2933027,GSM2933028,GSM2933029,GSM2933030,GSM2933031,GSM2933032
0,5S,3.6387,1.71650,1.5406,0.01000,0.01000,0.01000,2.26220,4.2801,5.64640,...,7.4763,12.0804,11.0748,10.26610,6.4318,2.8788,10.15110,3.4405,4.59140,2.2099
1,5,0.0100,0.01000,0.0100,0.01000,0.01000,0.01000,0.01000,0.0100,0.01000,...,0.0100,0.0100,0.0100,0.94371,0.0100,0.0100,0.01000,0.0100,0.01000,0.0100
2,7SK,0.0100,0.92919,0.0100,0.35525,0.01000,0.01000,0.01000,0.0100,0.01000,...,0.0100,0.0100,0.0100,0.01000,0.0100,0.0100,0.44722,0.0100,0.24876,0.0100
3,A1BG-AS1,1.2498,0.98933,0.6026,0.60026,0.41022,0.87175,0.42899,0.5787,0.42655,...,1.7673,1.7756,1.4079,0.99114,1.9296,1.5876,0.78939,1.6660,1.38210,1.2347
4,A1BG,3.2298,7.34170,5.2408,2.55530,1.62650,2.67920,2.79010,2.7155,2.23050,...,5.3325,7.3282,4.5839,5.77630,7.5666,5.5376,2.87970,6.5167,3.71930,3.0866

In [ ]:
#Make 'Gene' column the new index column
main_dataframe.set_index('Gene', inplace=True)
main_dataframe.head()

,GSM2932807,GSM2932808,GSM2932809,GSM2932810,GSM2932811,GSM2932812,GSM2932813,GSM2932814,GSM2932815,GSM2932816,...,GSM2933023,GSM2933024,GSM2933025,GSM2933026,GSM2933027,GSM2933028,GSM2933029,GSM2933030,GSM2933031,GSM2933032
Gene,,,,,,,,,,,,,,,,,,,,,
5S,3.6387,1.71650,1.5406,0.01000,0.01000,0.01000,2.26220,4.2801,5.64640,3.65850,...,7.4763,12.0804,11.0748,10.26610,6.4318,2.8788,10.15110,3.4405,4.59140,2.2099
5,0.0100,0.01000,0.0100,0.01000,0.01000,0.01000,0.01000,0.0100,0.01000,0.01000,...,0.0100,0.0100,0.0100,0.94371,0.0100,0.0100,0.01000,0.0100,0.01000,0.0100
7SK,0.0100,0.92919,0.0100,0.35525,0.01000,0.01000,0.01000,0.0100,0.01000,0.33258,...,0.0100,0.0100,0.0100,0.01000,0.0100,0.0100,0.44722,0.0100,0.24876,0.0100
A1BG-AS1,1.2498,0.98933,0.6026,0.60026,0.41022,0.87175,0.42899,0.5787,0.42655,0.52162,...,1.7673,1.7756,1.4079,0.99114,1.9296,1.5876,0.78939,1.6660,1.38210,1.2347
A1BG,3.2298,7.34170,5.2408,2.55530,1.62650,2.67920,2.79010,2.7155,2.23050,2.40190,...,5.3325,7.3282,4.5839,5.77630,7.5666,5.5376,2.87970,6.5167,3.71930,3.0866

In [ ]:
#Transform table 
main_dataframe_t = main_dataframe.T
main_dataframe_t.head()

Gene,5S,5,7SK,A1BG-AS1,A1BG,A1CF,A2M-AS1,A2ML1-AS1,A2ML1-AS2,A2ML1,...,snoU2-30,snoU2,snoU83B,snoZ196,snoZ278,snoZ40,snoZ6,snosnR66,uc,yR211F11.2
GSM2932807,3.6387,0.01,0.01000,1.24980,3.2298,11.3730,0.28384,0.01,0.01000,0.113000,...,0.01,0.0100,1.4326,0.0100,0.01,0.01,0.01,0.01,9.5670,0.01
GSM2932808,1.7165,0.01,0.92919,0.98933,7.3417,15.5388,0.13420,0.01,0.01000,0.010000,...,0.01,0.0100,0.0100,0.0100,0.01,0.01,0.01,0.01,1.2624,0.01
GSM2932809,1.5406,0.01,0.01000,0.60260,5.2408,6.0193,0.37015,0.01,0.30727,0.043795,...,0.01,1.6738,0.0100,3.9525,0.01,0.01,0.01,0.01,5.8186,0.01
GSM2932810,0.0100,0.01,0.35525,0.60026,2.5553,19.3306,0.42019,0.01,0.01000,0.011602,...,0.01,0.0100,0.0100,0.0100,0.01,0.01,0.01,0.01,4.8150,0.01
GSM2932811,0.0100,0.01,0.01000,0.41022,1.6265,12.2060,0.21807,0.01,0.01000,0.011105,...,0.01,0.0100,0.0100,0.0100,0.01,0.01,0.01,0.01,6.8616,0.01

In [ ]:
main_dataframe_t.shape

(226, 58524)

In [ ]:
#upload the second table
table_df = pd.read_csv('SraRunTable.txt')

In [ ]:
table_df['Diagnosis'].unique

<bound method Series.unique of 0                 Control
1                 Control
2                 Control
3                 Control
4                 Control
              ...
221    Ulcerative Colitis
222    Ulcerative Colitis
223    Ulcerative Colitis
224    Ulcerative Colitis
225    Ulcerative Colitis
Name: Diagnosis, Length: 226, dtype: object>

In [ ]:
table_df.columns

Index(['Run', 'Age_at_diagnosis', 'Assay Type', 'AvgSpotLen', 'Bases',
       'BioProject', 'BioSample', 'Bytes', 'Center Name', 'Consent',
       'DATASTORE filetype', 'DATASTORE provider', 'DATASTORE region',
       'Diagnosis', 'Experiment', 'GEO_Accession (exp)', 'initial_treatment',
       'Instrument', 'LibraryLayout', 'LibrarySelection', 'LibrarySource',
       'Organism', 'Platform', 'PUCAI', 'ReleaseDate', 'Sample Name', 'sex',
       'source_name', 'SRA Study', 'tissue', 'total_mayo_score',
       'week_4_remission', 'histology_severity_score', 'week_4_calprotectin',
       'baseline_calprotectin'],
      dtype='object')

In [ ]:
#Make 'Sample Name' column the index column to match the index of the previous table
table_df.set_index('Sample Name', inplace=True)

In [ ]:
table_df.head()

,Run,Age_at_diagnosis,Assay Type,AvgSpotLen,Bases,BioProject,BioSample,Bytes,Center Name,Consent,...,ReleaseDate,sex,source_name,SRA Study,tissue,total_mayo_score,week_4_remission,histology_severity_score,week_4_calprotectin,baseline_calprotectin
Sample Name,,,,,,,,,,,,,,,,,,,,,
GSM2932807,SRR6467548,16,RNA-Seq,150,5377705200,PRJNA429769,SAMN08359027,3201841363,GEO,public,...,2018-11-27T00:00:00Z,female,Rectal mucosal biopsy from Ctl Female age 16 a...,SRP129004,Rectal mucosal biopsy,NaN,NaN,NaN,NaN,NaN
GSM2932808,SRR6467549,11,RNA-Seq,150,5275216650,PRJNA429769,SAMN08359028,2502810829,GEO,public,...,2018-11-27T00:00:00Z,female,Rectal mucosal biopsy from Ctl Female age 11 a...,SRP129004,Rectal mucosal biopsy,NaN,NaN,NaN,NaN,NaN
GSM2932809,SRR6467550,17,RNA-Seq,150,5903990700,PRJNA429769,SAMN08359026,2746732954,GEO,public,...,2018-11-27T00:00:00Z,female,Rectal mucosal biopsy from Ctl Female age 17 a...,SRP129004,Rectal mucosal biopsy,NaN,NaN,NaN,NaN,NaN
GSM2932810,SRR6467551,8,RNA-Seq,150,4313372250,PRJNA429769,SAMN08359025,1856472093,GEO,public,...,2018-11-27T00:00:00Z,female,Rectal mucosal biopsy from Ctl Female age 8 at...,SRP129004,Rectal mucosal biopsy,NaN,NaN,NaN,NaN,NaN
GSM2932811,SRR6467552,17,RNA-Seq,150,4928637150,PRJNA429769,SAMN08359024,2269507890,GEO,public,...,2018-11-27T00:00:00Z,female,Rectal mucosal biopsy from Ctl Female age 17 a...,SRP129004,Rectal mucosal biopsy,NaN,NaN,NaN,NaN,NaN

In [ ]:
#Concat the two tables by joining shared index rows
new_df = pd.concat([table_df, main_dataframe_t], axis = 1, join='inner')

In [ ]:
new_df.shape

(226, 58558)

In [ ]:
new_df.head()

,Run,Age_at_diagnosis,Assay Type,AvgSpotLen,Bases,BioProject,BioSample,Bytes,Center Name,Consent,...,snoU2-30,snoU2,snoU83B,snoZ196,snoZ278,snoZ40,snoZ6,snosnR66,uc,yR211F11.2
GSM2932807,SRR6467548,16,RNA-Seq,150,5377705200,PRJNA429769,SAMN08359027,3201841363,GEO,public,...,0.01,0.0100,1.4326,0.0100,0.01,0.01,0.01,0.01,9.5670,0.01
GSM2932808,SRR6467549,11,RNA-Seq,150,5275216650,PRJNA429769,SAMN08359028,2502810829,GEO,public,...,0.01,0.0100,0.0100,0.0100,0.01,0.01,0.01,0.01,1.2624,0.01
GSM2932809,SRR6467550,17,RNA-Seq,150,5903990700,PRJNA429769,SAMN08359026,2746732954,GEO,public,...,0.01,1.6738,0.0100,3.9525,0.01,0.01,0.01,0.01,5.8186,0.01
GSM2932810,SRR6467551,8,RNA-Seq,150,4313372250,PRJNA429769,SAMN08359025,1856472093,GEO,public,...,0.01,0.0100,0.0100,0.0100,0.01,0.01,0.01,0.01,4.8150,0.01
GSM2932811,SRR6467552,17,RNA-Seq,150,4928637150,PRJNA429769,SAMN08359024,2269507890,GEO,public,...,0.01,0.0100,0.0100,0.0100,0.01,0.01,0.01,0.01,6.8616,0.01

In [ ]:
new_df1 = new_df.copy()

In [ ]:
  
# Remove irrelevant columns
new_df_dropped = new_df1.drop(['Bytes', 'Run','BioProject','AvgSpotLen','Assay Type','BioProject','BioSample','Center Name','Consent','ReleaseDate','SRA Study','DATASTORE filetype','DATASTORE provider','DATASTORE region','Instrument','Organism','LibrarySource','LibrarySelection','Experiment','LibraryLayout','Platform','GEO_Accession (exp)'], axis = 1)

In [ ]:
new_df_dropped.head()

,Age_at_diagnosis,Bases,Diagnosis,initial_treatment,PUCAI,sex,source_name,tissue,total_mayo_score,week_4_remission,...,snoU2-30,snoU2,snoU83B,snoZ196,snoZ278,snoZ40,snoZ6,snosnR66,uc,yR211F11.2
GSM2932807,16,5377705200,Control,NaN,NaN,female,Rectal mucosal biopsy from Ctl Female age 16 a...,Rectal mucosal biopsy,NaN,NaN,...,0.01,0.0100,1.4326,0.0100,0.01,0.01,0.01,0.01,9.5670,0.01
GSM2932808,11,5275216650,Control,NaN,NaN,female,Rectal mucosal biopsy from Ctl Female age 11 a...,Rectal mucosal biopsy,NaN,NaN,...,0.01,0.0100,0.0100,0.0100,0.01,0.01,0.01,0.01,1.2624,0.01
GSM2932809,17,5903990700,Control,NaN,NaN,female,Rectal mucosal biopsy from Ctl Female age 17 a...,Rectal mucosal biopsy,NaN,NaN,...,0.01,1.6738,0.0100,3.9525,0.01,0.01,0.01,0.01,5.8186,0.01
GSM2932810,8,4313372250,Control,NaN,NaN,female,Rectal mucosal biopsy from Ctl Female age 8 at...,Rectal mucosal biopsy,NaN,NaN,...,0.01,0.0100,0.0100,0.0100,0.01,0.01,0.01,0.01,4.8150,0.01
GSM2932811,17,4928637150,Control,NaN,NaN,female,Rectal mucosal biopsy from Ctl Female age 17 a...,Rectal mucosal biopsy,NaN,NaN,...,0.01,0.0100,0.0100,0.0100,0.01,0.01,0.01,0.01,6.8616,0.01

In [ ]:
new_df_dropped.to_csv('Colitis_table.csv')

## RISK dataset

In [ ]:
risk_table_df = pd.read_csv('Galaxy2-[Convert_tabular_to_CSV_on_data_1].csv')

In [ ]:
risk_table_df

,Run,Assay Type,AvgSpotLen,Bases,BioProject,biopsy_location,BioSample,Bytes,Center Name,Consent,...,LibrarySource,Location,Organism,Platform,population,ReleaseDate,Sample Name,source_name,SRA Study,tissue
0,SRR7632756,RNA-Seq,75,1172311575,PRJNA483949,rectal,SAMN09754072,740576203,GEO,public,...,TRANSCRIPTOMIC,L2,Homo sapiens,ILLUMINA,pediatric,2018-11-27T00:00:00Z,GSM3316656,Rectal biopsy,SRP155976,rectum
1,SRR7632757,RNA-Seq,50,577579500,PRJNA483949,rectal,SAMN09754071,414816623,GEO,public,...,TRANSCRIPTOMIC,L2,Homo sapiens,ILLUMINA,pediatric,2018-11-27T00:00:00Z,GSM3316657,Rectal biopsy,SRP155976,rectum
2,SRR7632758,RNA-Seq,75,1334638875,PRJNA483949,rectal,SAMN09754070,859351625,GEO,public,...,TRANSCRIPTOMIC,L2,Homo sapiens,ILLUMINA,pediatric,2018-11-27T00:00:00Z,GSM3316658,Rectal biopsy,SRP155976,rectum
3,SRR7632759,RNA-Seq,75,903872100,PRJNA483949,rectal,SAMN09754069,572907923,GEO,public,...,TRANSCRIPTOMIC,L2,Homo sapiens,ILLUMINA,pediatric,2018-11-27T00:00:00Z,GSM3316659,Rectal biopsy,SRP155976,rectum
4,SRR7632760,RNA-Seq,75,1122933900,PRJNA483949,rectal,SAMN09754068,729262059,GEO,public,...,TRANSCRIPTOMIC,L2,Homo sapiens,ILLUMINA,pediatric,2018-11-27T00:00:00Z,GSM3316660,Rectal biopsy,SRP155976,rectum
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185,SRR7632941,RNA-Seq,50,899676000,PRJNA483949,rectal,SAMN09754261,654336785,GEO,public,...,TRANSCRIPTOMIC,na,Homo sapiens,ILLUMINA,pediatric,2018-11-27T00:00:00Z,GSM3316841,Rectal biopsy,SRP155976,rectum
186,SRR7632942,RNA-Seq,50,501153100,PRJNA483949,rectal,SAMN09754260,371448285,GEO,public,...,TRANSCRIPTOMIC,na,Homo sapiens,ILLUMINA,pediatric,2018-11-27T00:00:00Z,GSM3316842,Rectal biopsy,SRP155976,rectum
187,SRR7632943,RNA-Seq,50,1928556600,PRJNA483949,rectal,SAMN09754258,1388571937,GEO,public,...,TRANSCRIPTOMIC,na,Homo sapiens,ILLUMINA,pediatric,2018-11-27T00:00:00Z,GSM3316843,Rectal biopsy,SRP155976,rectum
188,SRR7632944,RNA-Seq,50,826146900,PRJNA483949,rectal,SAMN09754257,601485141,GEO,public,...,TRANSCRIPTOMIC,na,Homo sapiens,ILLUMINA,pediatric,2018-11-27T00:00:00Z,GSM3316844,Rectal biopsy,SRP155976,rectum
189,SRR7632945,RNA-Seq,50,2404356500,PRJNA483949,rectal,SAMN09754235,1739780025,GEO,public,...,TRANSCRIPTOMIC,na,Homo sapiens,ILLUMINA,pediatric,2018-11-27T00:00:00Z,GSM3316845,Rectal biopsy,SRP155976,rectum

In [ ]:
#Make 'Sample Name' column the index column to match the index of the previous table
risk_table_df.set_index('Sample Name', inplace=True)

In [ ]:
risk_table_df.head()

,Run,Assay Type,AvgSpotLen,Bases,BioProject,biopsy_location,BioSample,Bytes,Center Name,Consent,...,LibrarySelection,LibrarySource,Location,Organism,Platform,population,ReleaseDate,source_name,SRA Study,tissue
Sample Name,,,,,,,,,,,,,,,,,,,,,
GSM3316656,SRR7632756,RNA-Seq,75,1172311575,PRJNA483949,rectal,SAMN09754072,740576203,GEO,public,...,cDNA,TRANSCRIPTOMIC,L2,Homo sapiens,ILLUMINA,pediatric,2018-11-27T00:00:00Z,Rectal biopsy,SRP155976,rectum
GSM3316657,SRR7632757,RNA-Seq,50,577579500,PRJNA483949,rectal,SAMN09754071,414816623,GEO,public,...,cDNA,TRANSCRIPTOMIC,L2,Homo sapiens,ILLUMINA,pediatric,2018-11-27T00:00:00Z,Rectal biopsy,SRP155976,rectum
GSM3316658,SRR7632758,RNA-Seq,75,1334638875,PRJNA483949,rectal,SAMN09754070,859351625,GEO,public,...,cDNA,TRANSCRIPTOMIC,L2,Homo sapiens,ILLUMINA,pediatric,2018-11-27T00:00:00Z,Rectal biopsy,SRP155976,rectum
GSM3316659,SRR7632759,RNA-Seq,75,903872100,PRJNA483949,rectal,SAMN09754069,572907923,GEO,public,...,cDNA,TRANSCRIPTOMIC,L2,Homo sapiens,ILLUMINA,pediatric,2018-11-27T00:00:00Z,Rectal biopsy,SRP155976,rectum
GSM3316660,SRR7632760,RNA-Seq,75,1122933900,PRJNA483949,rectal,SAMN09754068,729262059,GEO,public,...,cDNA,TRANSCRIPTOMIC,L2,Homo sapiens,ILLUMINA,pediatric,2018-11-27T00:00:00Z,Rectal biopsy,SRP155976,rectum

In [ ]:
txt_list = ['GSM3316701_05-116-R.txt', 'GSM3316834_13-051-R.txt', 'GSM3316844_29-011-R.txt', 'GSM3316699_05-077-R.txt', 'GSM3316717_11-002-R.txt', 'GSM3316750_03-075-R.txt', 'GSM3316681_18-012-R.txt', 'GSM3316658_03-143-R.txt', 'GSM3316757_05-100-R.txt', 'GSM3316718_11-009-R.txt', 'GSM3316665_06-053-R.txt', 'GSM3316732_16-005-R.txt', 'GSM3316740_23-016-R.txt', 'GSM3316760_05-127-R.txt', 'GSM3316761_06-050-R.txt', 'GSM3316743_27-024-R.txt', 'GSM3316666_07-031-R.txt', 'GSM3316840_15-008-R.txt', 'GSM3316663_05-133-R.txt', 'GSM3316804_03-047-R.txt', 'GSM3316768_06-091-R.txt', 'GSM3316811_05-112-R.txt', 'GSM3316814_06-070-R.txt', 'GSM3316766_06-078-R.txt', 'GSM3316796_24-018-R.txt', 'GSM3316842_27-020-R.txt', 'GSM3316820_08-008-R.txt', 'GSM3316711_08-015-R.txt', 'GSM3316704_06-062-R.txt', 'GSM3316753_03-115-R.txt', 'GSM3316705_06-065-R.txt', 'GSM3316812_05-138-R.txt', 'GSM3316719_11-019-R.txt', 'GSM3316769_07-030-R.txt', 'GSM3316712_08-054-R.txt', 'GSM3316771_07-040-R.txt', 'GSM3316691_03-120-R.txt', 'GSM3316784_11-041-R.txt', 'GSM3316765_06-067-R.txt', 'GSM3316789_23-009-R.txt', 'GSM3316710_07-032-R.txt', 'GSM3316809_05-099-R.txt', 'GSM3316752_03-083-R.txt', 'GSM3316813_05-142-R.txt', 'GSM3316774_08-004-R.txt', 'GSM3316731_15-021-R.txt', 'GSM3316800_27-006-R.txt', 'GSM3316723_13-168-R.txt', 'GSM3316660_04-045-R.txt', 'GSM3316802_27-037-R.txt', 'GSM3316824_08-061-R.txt', 'GSM3316674_14-010-R.txt', 'GSM3316696_04-109-R.txt', 'GSM3316683_19-029-R.txt', 'GSM3316680_16-006-R.txt', 'GSM3316770_07-037-R.txt', 'GSM3316703_06-047-R.txt', 'GSM3316808_05-093-R.txt', 'GSM3316656_01-070-R.txt', 'GSM3316795_24-016-R.txt', 'GSM3316735_20-002-R.txt', 'GSM3316790_24-004-R.txt', 'GSM3316779_08-033-R.txt', 'GSM3316733_18-010-R.txt', 'GSM3316679_16-001-R.txt', 'GSM3316668_08-045-R.txt', 'GSM3316776_08-007-R.txt', 'GSM3316794_24-011-R.txt', 'GSM3316839_13-172-R.txt', 'GSM3316775_08-005-R.txt', 'GSM3316807_05-076-R.txt', 'GSM3316833_12-008-R.txt', 'GSM3316690_03-114-R.txt', 'GSM3316715_09-025-R.txt', 'GSM3316713_09-001-R.txt', 'GSM3316791_24-008-R.txt', 'GSM3316738_22-036-R.txt', 'GSM3316670_09-035-R.txt', 'GSM3316657_03-107-R.txt', 'GSM3316816_06-073-R.txt', 'GSM3316827_09-064-R.txt', 'GSM3316797_27-001-R.txt', 'GSM3316730_15-003-R.txt', 'GSM3316773_08-003-R.txt', 'GSM3316694_04-063-R.txt', 'GSM3316754_03-119-R.txt', 'GSM3316762_06-060-R.txt', 'GSM3316728_14-013-R.txt', 'GSM3316793_24-010-R.txt', 'GSM3316682_18-029-R.txt', 'GSM3316777_08-023-R.txt', 'GSM3316722_13-141-R.txt', 'GSM3316659_03-176-R.txt', 'GSM3316747_29-035-R.txt', 'GSM3316727_14-012-R.txt', 'GSM3316819_08-006-R.txt', 'GSM3316781_10-023-R.txt', 'GSM3316741_24-023-R.txt', 'GSM3316815_06-071-R.txt', 'GSM3316709_06-099-R.txt', 'GSM3316745_29-017-R.txt', 'GSM3316697_04-132-R.txt', 'GSM3316662_05-120-R.txt', 'GSM3316785_14-015-R.txt', 'GSM3316726_14-006-R.txt', 'GSM3316695_04-103-R.txt', 'GSM3316810_05-101-R.txt', 'GSM3316825_09-004-R.txt', 'GSM3316734_19-015-R.txt', 'GSM3316685_22-008-R.txt', 'GSM3316692_03-163-R.txt', 'GSM3316748_01-040-R.txt', 'GSM3316688_03-062-R.txt', 'GSM3316801_27-009-R.txt', 'GSM3316693_03-181-R.txt', 'GSM3316664_06-040-R.txt', 'GSM3316805_03-174-Ra.txt', 'GSM3316749_03-060-R.txt', 'GSM3316755_04-096-R.txt', 'GSM3316788_21-020-R.txt', 'GSM3316823_08-021-R.txt', 'GSM3316678_15-011-R.txt', 'GSM3316700_05-082-R.txt', 'GSM3316758_05-102-R.txt', 'GSM3316736_20-013-R.txt', 'GSM3316829_10-043-R.txt', 'GSM3316835_13-084-R.txt', 'GSM3316756_05-094-R.txt', 'GSM3316841_23-006-R.txt', 'GSM3316845_29-020-R.txt', 'GSM3316689_03-106-R.txt', 'GSM3316822_08-018-R.txt', 'GSM3316675_14-037-R.txt', 'GSM3316708_06-075-R.txt', 'GSM3316716_09-042-R.txt', 'GSM3316661_04-123-R.txt', 'GSM3316698_05-072-R.txt', 'GSM3316837_13-125-R.txt', 'GSM3316720_12-028-R.txt', 'GSM3316778_08-026-R.txt', 'GSM3316763_06-063-R.txt', 'GSM3316818_07-053-R.txt', 'GSM3316836_13-086-R.txt', 'GSM3316798_27-002-R.txt', 'GSM3316826_09-054-R.txt', 'GSM3316739_22-039-R.txt', 'GSM3316832_11-062-R.txt', 'GSM3316786_17-003-R.txt', 'GSM3316828_09-067-R.txt', 'GSM3316780_08-063-R.txt', 'GSM3316702_06-016-R.txt', 'GSM3316821_08-017-R.txt', 'GSM3316799_27-005-R.txt', 'GSM3316686_27-008-R.txt', 'GSM3316677_14-042-R.txt', 'GSM3316772_07-051-R.txt', 'GSM3316684_20-006-R.txt', 'GSM3316737_21-005-R.txt', 'GSM3316707_06-072-R.txt', 'GSM3316783_11-033-R.txt', 'GSM3316759_05-108-R.txt', 'GSM3316751_03-076-R.txt', 'GSM3316744_27-041-R.txt', 'GSM3316672_13-064-R.txt', 'GSM3316742_27-012-R.txt', 'GSM3316676_14-038-R.txt', 'GSM3316831_11-060-R.txt', 'GSM3316729_14-035-R.txt', 'GSM3316673_14-009-R.txt', 'GSM3316714_09-020-R.txt', 'GSM3316843_27-028-R.txt', 'GSM3316806_05-073-R.txt', 'GSM3316724_13-170-R.txt', 'GSM3316669_09-014-R.txt', 'GSM3316764_06-064-R.txt', 'GSM3316782_11-028-R.txt', 'GSM3316838_13-135-R.txt', 'GSM3316667_08-031-R.txt', 'GSM3316746_29-018-R.txt', 'GSM3316721_13-055-R.txt', 'GSM3316830_11-032-R.txt', 'GSM3316787_21-018-R.txt', 'GSM3316817_07-049-R.txt', 'GSM3316767_06-082-R.txt', 'GSM3316687_29-010-R.txt', 'GSM3316792_24-009-R.txt', 'GSM3316725_14-003-R.txt', 'GSM3316803_01-064-R.txt', 'GSM3316706_06-069-R.txt', 'GSM3316671_11-014-R.txt']
txt_list.sort(reverse = False)

In [ ]:
new_names = []

for i in txt_list:
  i = i.split('_')[0]
  new_names.append(i)

for i,j in zip(txt_list, new_names):
  j = pd.read_csv(i)

In [ ]:
main_dataframe = pd.DataFrame(pd.read_table(txt_list[0]))
sf = pd.Series()
for i in range(0,len(txt_list)):
    data = pd.read_table(txt_list[i])
    if i == 0:
     df = pd.DataFrame(data)
     df = df.rename(columns={df.columns[1]: txt_list[i]}) #Rename value column to filename
     main_dataframe = df
     for col in main_dataframe.columns:
       name = col.split('_')[0]
       main_dataframe.rename(columns = {col : name}, inplace = True) #Leave onle the string that somes before the _ as acolumn name
    else:
     df = pd.DataFrame(data.iloc[:,1])
     df = df.rename(columns={df.columns[0]: txt_list[i]})
     main_dataframe = pd.concat([main_dataframe,df], axis = 1) # add only the value column (without the gene name column) to the dataframe
     for col in main_dataframe.columns:
       name = col.split('_')[0]
       main_dataframe.rename(columns = {col : name}, inplace = True)
  
  
main_dataframe.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.

,Symbol,GSM3316656,GSM3316657,GSM3316658,GSM3316659,GSM3316660,GSM3316661,GSM3316662,GSM3316663,GSM3316664,...,GSM3316836,GSM3316837,GSM3316838,GSM3316839,GSM3316840,GSM3316841,GSM3316842,GSM3316843,GSM3316844,GSM3316845
0,5S,0.0100,0.0100,0.0100,0.0100,0.0100,0.0100,0.01000,0.0100,0.0100,...,0.0100,0.0100,0.0100,0.0100,0.0100,0.01000,0.0100,0.0100,0.0100,0.0100
1,5,0.0100,0.0100,0.0100,0.0100,0.0100,0.0100,0.01000,0.0100,0.0100,...,0.0100,0.0100,0.0100,0.0100,0.0100,0.01000,0.0100,0.0100,0.0100,0.0100
2,7SK,0.0100,0.0100,0.0100,0.0100,0.0100,0.0100,0.01000,0.0100,0.0100,...,0.0100,0.0100,0.0100,0.0100,0.0100,0.45446,0.0100,0.0100,0.0100,0.0100
3,A1BG-AS1,2.9849,1.7069,1.6019,1.8899,1.1757,1.9852,0.80658,1.4188,3.3132,...,2.0132,1.9566,2.8474,1.6053,2.2664,1.81180,4.9318,2.7266,1.3287,1.9345
4,A1BG,5.5665,5.2550,3.0674,5.1529,4.6359,4.7868,9.36270,6.6647,10.2437,...,5.8525,4.2491,15.6315,4.5514,5.5206,14.52720,13.4168,7.2825,3.6846,6.1163

In [ ]:
#Make 'Gene' column the new index column
main_dataframe.set_index('Symbol', inplace=True)
main_dataframe.head()

,GSM3316656,GSM3316657,GSM3316658,GSM3316659,GSM3316660,GSM3316661,GSM3316662,GSM3316663,GSM3316664,GSM3316665,...,GSM3316836,GSM3316837,GSM3316838,GSM3316839,GSM3316840,GSM3316841,GSM3316842,GSM3316843,GSM3316844,GSM3316845
Symbol,,,,,,,,,,,,,,,,,,,,,
5S,0.0100,0.0100,0.0100,0.0100,0.0100,0.0100,0.01000,0.0100,0.0100,0.0100,...,0.0100,0.0100,0.0100,0.0100,0.0100,0.01000,0.0100,0.0100,0.0100,0.0100
5,0.0100,0.0100,0.0100,0.0100,0.0100,0.0100,0.01000,0.0100,0.0100,0.0100,...,0.0100,0.0100,0.0100,0.0100,0.0100,0.01000,0.0100,0.0100,0.0100,0.0100
7SK,0.0100,0.0100,0.0100,0.0100,0.0100,0.0100,0.01000,0.0100,0.0100,0.0100,...,0.0100,0.0100,0.0100,0.0100,0.0100,0.45446,0.0100,0.0100,0.0100,0.0100
A1BG-AS1,2.9849,1.7069,1.6019,1.8899,1.1757,1.9852,0.80658,1.4188,3.3132,2.3131,...,2.0132,1.9566,2.8474,1.6053,2.2664,1.81180,4.9318,2.7266,1.3287,1.9345
A1BG,5.5665,5.2550,3.0674,5.1529,4.6359,4.7868,9.36270,6.6647,10.2437,4.5610,...,5.8525,4.2491,15.6315,4.5514,5.5206,14.52720,13.4168,7.2825,3.6846,6.1163

In [ ]:
#a way to set index by column index : df.set_index(list(df.columns[[0,2]]))

In [ ]:
main_dataframe.to_csv('RISK_genes.csv')

In [ ]:
#Transform table 
main_dataframe_t = main_dataframe.T
main_dataframe_t.head()

Symbol,5S,5,7SK,A1BG-AS1,A1BG,A1CF,A2M-AS1,A2ML1-AS1,A2ML1-AS2,A2ML1,...,snoU2-30,snoU2,snoU83B,snoZ196,snoZ278,snoZ40,snoZ6,snosnR66,uc,yR211F11.2
GSM3316656,0.01,0.01,0.01,2.9849,5.5665,2.7558,0.66781,0.01,0.01,0.371800,...,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,12.0875,0.01
GSM3316657,0.01,0.01,0.01,1.7069,5.2550,6.8711,0.47938,0.01,0.01,0.153400,...,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,8.8879,0.01
GSM3316658,0.01,0.01,0.01,1.6019,3.0674,8.1149,0.44036,0.01,0.01,0.189810,...,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,2.5108,0.01
GSM3316659,0.01,0.01,0.01,1.8899,5.1529,4.1582,0.18452,0.01,0.01,0.070184,...,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,3.0146,0.01
GSM3316660,0.01,0.01,0.01,1.1757,4.6359,7.5521,0.61863,0.01,0.01,0.019571,...,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.0100,0.01

In [ ]:
#Concat the two tables by joining shared index rows
new_df = pd.concat([risk_table_df, main_dataframe_t], axis = 1, join='inner')

In [ ]:
new_df

,Run,Assay Type,AvgSpotLen,Bases,BioProject,biopsy_location,BioSample,Bytes,Center Name,Consent,...,snoU2-30,snoU2,snoU83B,snoZ196,snoZ278,snoZ40,snoZ6,snosnR66,uc,yR211F11.2
GSM3316656,SRR7632756,RNA-Seq,75,1172311575,PRJNA483949,rectal,SAMN09754072,740576203,GEO,public,...,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,12.08750,0.01
GSM3316657,SRR7632757,RNA-Seq,50,577579500,PRJNA483949,rectal,SAMN09754071,414816623,GEO,public,...,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,8.88790,0.01
GSM3316658,SRR7632758,RNA-Seq,75,1334638875,PRJNA483949,rectal,SAMN09754070,859351625,GEO,public,...,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,2.51080,0.01
GSM3316659,SRR7632759,RNA-Seq,75,903872100,PRJNA483949,rectal,SAMN09754069,572907923,GEO,public,...,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,3.01460,0.01
GSM3316660,SRR7632760,RNA-Seq,75,1122933900,PRJNA483949,rectal,SAMN09754068,729262059,GEO,public,...,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01000,0.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
GSM3316841,SRR7632941,RNA-Seq,50,899676000,PRJNA483949,rectal,SAMN09754261,654336785,GEO,public,...,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.97933,0.01
GSM3316842,SRR7632942,RNA-Seq,50,501153100,PRJNA483949,rectal,SAMN09754260,371448285,GEO,public,...,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,10.86480,0.01
GSM3316843,SRR7632943,RNA-Seq,50,1928556600,PRJNA483949,rectal,SAMN09754258,1388571937,GEO,public,...,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,3.37470,0.01
GSM3316844,SRR7632944,RNA-Seq,50,826146900,PRJNA483949,rectal,SAMN09754257,601485141,GEO,public,...,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,2.58270,0.01
GSM3316845,SRR7632945,RNA-Seq,50,2404356500,PRJNA483949,rectal,SAMN09754235,1739780025,GEO,public,...,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,4.23200,0.01

In [ ]:
new_df.to_csv('RISK_table_full.csv')

In [ ]:
table_risk = new_df.copy()

In [ ]:
risk_table_df.columns

Index(['Run', 'Assay Type', 'AvgSpotLen', 'Bases', 'BioProject',
       'biopsy_location', 'BioSample', 'Bytes', 'Center Name', 'Consent',
       'DATASTORE filetype', 'DATASTORE provider', 'DATASTORE region',
       'Diagnosis', 'disease_subtype', 'Experiment', 'GEO_Accession (exp)',
       'Instrument', 'LibraryLayout', 'LibrarySelection', 'LibrarySource',
       'Location', 'Organism', 'Platform', 'population', 'ReleaseDate',
       'source_name', 'SRA Study', 'tissue'],
      dtype='object')

In [ ]:
columns_todropp = ['Bytes','Location','population','tissue','source_name','disease_subtype','Experiment','biopsy_location','Bases', 'Run','AvgSpotLen','Assay Type','BioProject','BioSample','Center Name','Consent','ReleaseDate','SRA Study','DATASTORE filetype','DATASTORE provider','DATASTORE region','Instrument','Organism','LibrarySource','LibrarySelection','Experiment','LibraryLayout','Platform','GEO_Accession (exp)']

In [ ]:
# Remove irrelevant columns
table_risk_dropped = table_risk.drop(columns_todropp, axis = 1)

In [ ]:
table_risk_dropped

,Diagnosis,5S,5,7SK,A1BG-AS1,A1BG,A1CF,A2M-AS1,A2ML1-AS1,A2ML1-AS2,...,snoU2-30,snoU2,snoU83B,snoZ196,snoZ278,snoZ40,snoZ6,snosnR66,uc,yR211F11.2
GSM3316656,CD,0.01,0.01,0.01000,2.9849,5.5665,2.7558,0.66781,0.01,0.01000,...,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,12.08750,0.01
GSM3316657,CD,0.01,0.01,0.01000,1.7069,5.2550,6.8711,0.47938,0.01,0.01000,...,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,8.88790,0.01
GSM3316658,CD,0.01,0.01,0.01000,1.6019,3.0674,8.1149,0.44036,0.01,0.01000,...,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,2.51080,0.01
GSM3316659,CD,0.01,0.01,0.01000,1.8899,5.1529,4.1582,0.18452,0.01,0.01000,...,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,3.01460,0.01
GSM3316660,CD,0.01,0.01,0.01000,1.1757,4.6359,7.5521,0.61863,0.01,0.01000,...,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01000,0.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
GSM3316841,UC,0.01,0.01,0.45446,1.8118,14.5272,4.0182,1.36700,0.01,0.01000,...,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.97933,0.01
GSM3316842,UC,0.01,0.01,0.01000,4.9318,13.4168,1.0260,0.50469,0.01,0.01000,...,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,10.86480,0.01
GSM3316843,UC,0.01,0.01,0.01000,2.7266,7.2825,4.6098,0.80948,0.01,0.18294,...,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,3.37470,0.01
GSM3316844,UC,0.01,0.01,0.01000,1.3287,3.6846,19.8337,0.29126,0.01,0.01000,...,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,2.58270,0.01
GSM3316845,UC,0.01,0.01,0.01000,1.9345,6.1163,10.5848,0.35770,0.01,0.14930,...,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,4.23200,0.01

In [ ]:
table_risk_dropped.to_csv('RISK_table_dropped.csv')

# Merge PROTECT RISK

In [ ]:
#upload full PROTECT table
protect_table = pd.read_csv('Colitis_table.csv', index_col=0)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4,10,12) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
protect_table.columns

Index(['Age_at_diagnosis', 'Bases', 'Diagnosis', 'initial_treatment', 'PUCAI',
       'sex', 'source_name', 'tissue', 'total_mayo_score', 'week_4_remission',
       ...
       'snoU2-30', 'snoU2', 'snoU83B', 'snoZ196', 'snoZ278', 'snoZ40', 'snoZ6',
       'snosnR66', 'uc', 'yR211F11.2'],
      dtype='object', length=58537)

In [ ]:
columns_todropp2 = ['sex','PUCAI','initial_treatment','total_mayo_score','week_4_remission','histology_severity_score','week_4_calprotectin','baseline_calprotectin','Bytes','Location','population','tissue','source_name','disease_subtype','Experiment','biopsy_location','Bases', 'Run','AvgSpotLen','Assay Type','BioProject','BioSample','Center Name','Consent','ReleaseDate','SRA Study','DATASTORE filetype','DATASTORE provider','DATASTORE region','Instrument','Organism','LibrarySource','LibrarySelection','Experiment','LibraryLayout','Platform','GEO_Accession (exp)', 'Age_at_diagnosis']

In [ ]:
#drop columns except for genes and diagnosis
protect_table_dropped = protect_table.copy()
for i in protect_table_dropped.columns:
  if i in columns_todropp2:
    protect_table_dropped = protect_table_dropped.drop([i], axis = 1)
protect_table_dropped

,Diagnosis,5S,5,7SK,A1BG-AS1,A1BG,A1CF,A2M-AS1,A2ML1-AS1,A2ML1-AS2,...,snoU2-30,snoU2,snoU83B,snoZ196,snoZ278,snoZ40,snoZ6,snosnR66,uc,yR211F11.2
GSM2932807,Control,3.6387,0.01,0.01000,1.24980,3.2298,11.3730,0.28384,0.01,0.01000,...,0.01,0.0100,1.4326,0.0100,0.01,0.01,0.0100,0.01,9.5670,0.01
GSM2932808,Control,1.7165,0.01,0.92919,0.98933,7.3417,15.5388,0.13420,0.01,0.01000,...,0.01,0.0100,0.0100,0.0100,0.01,0.01,0.0100,0.01,1.2624,0.01
GSM2932809,Control,1.5406,0.01,0.01000,0.60260,5.2408,6.0193,0.37015,0.01,0.30727,...,0.01,1.6738,0.0100,3.9525,0.01,0.01,0.0100,0.01,5.8186,0.01
GSM2932810,Control,0.0100,0.01,0.35525,0.60026,2.5553,19.3306,0.42019,0.01,0.01000,...,0.01,0.0100,0.0100,0.0100,0.01,0.01,0.0100,0.01,4.8150,0.01
GSM2932811,Control,0.0100,0.01,0.01000,0.41022,1.6265,12.2060,0.21807,0.01,0.01000,...,0.01,0.0100,0.0100,0.0100,0.01,0.01,0.0100,0.01,6.8616,0.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
GSM2933028,Ulcerative Colitis,2.8788,0.01,0.01000,1.58760,5.5376,9.0400,0.46910,0.01,0.18799,...,0.01,0.0100,0.0100,1.9511,0.01,0.01,1.8116,0.01,6.4644,0.01
GSM2933029,Ulcerative Colitis,10.1511,0.01,0.44722,0.78939,2.8797,15.3547,0.45695,0.01,0.01000,...,0.01,0.0100,0.0100,1.8418,0.01,0.01,0.0100,0.01,25.6757,0.01
GSM2933030,Ulcerative Colitis,3.4405,0.01,0.01000,1.66600,6.5167,8.2175,0.37781,0.01,0.01000,...,0.01,0.0100,0.0100,1.2010,0.01,0.01,0.0100,0.01,20.7123,0.01
GSM2933031,Ulcerative Colitis,4.5914,0.01,0.24876,1.38210,3.7193,7.8746,0.28224,0.01,0.01000,...,0.01,0.0100,0.0100,2.3418,0.01,0.01,0.0100,0.01,4.5329,0.01
GSM2933032,Ulcerative Colitis,2.2099,0.01,0.01000,1.23470,3.0866,6.8312,0.34797,0.01,0.15526,...,0.01,0.0100,0.0100,0.0100,0.01,0.01,1.1139,0.01,11.1930,0.01

In [ ]:
#replace "Ulcerative Colitis" in diagnosis  to UC

protect_table_dropped.replace(to_replace = "Ulcerative Colitis", value = "UC", inplace = True)

In [ ]:
protect_table_dropped['Diagnosis'].unique

<bound method Series.unique of GSM2932807    Control
GSM2932808    Control
GSM2932809    Control
GSM2932810    Control
GSM2932811    Control
               ...
GSM2933028         UC
GSM2933029         UC
GSM2933030         UC
GSM2933031         UC
GSM2933032         UC
Name: Diagnosis, Length: 226, dtype: object>

In [ ]:
protect_table_dropped.to_csv('PROTECT_RNA.csv')

In [ ]:
#Merge both tables

protect_risk_rna = table_risk_dropped.append(protect_table_dropped, ignore_index = False)

In [ ]:
protect_risk_rna

,Diagnosis,5S,5,7SK,A1BG-AS1,A1BG,A1CF,A2M-AS1,A2ML1-AS1,A2ML1-AS2,...,snoU2-30,snoU2,snoU83B,snoZ196,snoZ278,snoZ40,snoZ6,snosnR66,uc,yR211F11.2
GSM3316656,CD,0.0100,0.01,0.01000,2.98490,5.5665,2.7558,0.66781,0.01,0.01000,...,0.01,0.01,0.01,0.0100,0.01,0.01,0.0100,0.01,12.0875,0.01
GSM3316657,CD,0.0100,0.01,0.01000,1.70690,5.2550,6.8711,0.47938,0.01,0.01000,...,0.01,0.01,0.01,0.0100,0.01,0.01,0.0100,0.01,8.8879,0.01
GSM3316658,CD,0.0100,0.01,0.01000,1.60190,3.0674,8.1149,0.44036,0.01,0.01000,...,0.01,0.01,0.01,0.0100,0.01,0.01,0.0100,0.01,2.5108,0.01
GSM3316659,CD,0.0100,0.01,0.01000,1.88990,5.1529,4.1582,0.18452,0.01,0.01000,...,0.01,0.01,0.01,0.0100,0.01,0.01,0.0100,0.01,3.0146,0.01
GSM3316660,CD,0.0100,0.01,0.01000,1.17570,4.6359,7.5521,0.61863,0.01,0.01000,...,0.01,0.01,0.01,0.0100,0.01,0.01,0.0100,0.01,0.0100,0.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
GSM2933028,UC,2.8788,0.01,0.01000,1.58760,5.5376,9.0400,0.46910,0.01,0.18799,...,0.01,0.01,0.01,1.9511,0.01,0.01,1.8116,0.01,6.4644,0.01
GSM2933029,UC,10.1511,0.01,0.44722,0.78939,2.8797,15.3547,0.45695,0.01,0.01000,...,0.01,0.01,0.01,1.8418,0.01,0.01,0.0100,0.01,25.6757,0.01
GSM2933030,UC,3.4405,0.01,0.01000,1.66600,6.5167,8.2175,0.37781,0.01,0.01000,...,0.01,0.01,0.01,1.2010,0.01,0.01,0.0100,0.01,20.7123,0.01
GSM2933031,UC,4.5914,0.01,0.24876,1.38210,3.7193,7.8746,0.28224,0.01,0.01000,...,0.01,0.01,0.01,2.3418,0.01,0.01,0.0100,0.01,4.5329,0.01
GSM2933032,UC,2.2099,0.01,0.01000,1.23470,3.0866,6.8312,0.34797,0.01,0.15526,...,0.01,0.01,0.01,0.0100,0.01,0.01,1.1139,0.01,11.1930,0.01

In [ ]:
protect_risk_rna.to_csv('PROTECT_RISK_rna_fuul.csv')

In [ ]:
protect_risk_rna['Diagnosis'].unique()

array(['CD', 'Control', 'UC'], dtype=object)

In [ ]:
#remove cd rows
not_US_ctl = protect_risk_rna[protect_risk_rna['Diagnosis'] == 'CD' ].index
  
protect_risk_rna_US = protect_risk_rna.copy()
# drop these row indexes
# from dataFrame
protect_risk_rna_US.drop(not_US_ctl, inplace = True)
  
protect_risk_rna_US

,Diagnosis,5S,5,7SK,A1BG-AS1,A1BG,A1CF,A2M-AS1,A2ML1-AS1,A2ML1-AS2,...,snoU2-30,snoU2,snoU83B,snoZ196,snoZ278,snoZ40,snoZ6,snosnR66,uc,yR211F11.2
GSM3316748,Control,0.0100,0.01,0.01000,2.65760,5.8870,8.5168,0.99910,0.01,0.01000,...,0.01,0.01,0.01,0.0100,0.01,0.01,0.0100,0.01,0.89062,0.01000
GSM3316749,Control,0.0100,0.01,0.01000,1.41470,6.6428,8.5053,0.83041,0.01,0.01000,...,0.01,0.01,0.01,0.0100,0.01,0.01,0.0100,0.01,0.01000,0.01000
GSM3316750,Control,0.0100,0.01,0.01000,1.10300,4.0985,8.0321,0.44193,0.01,0.36666,...,0.01,0.01,0.01,0.0100,0.01,0.01,0.0100,0.01,0.33184,0.01000
GSM3316751,Control,0.0100,0.01,0.01000,1.20420,5.6552,7.3897,0.48160,0.01,0.01000,...,0.01,0.01,0.01,0.0100,0.01,0.01,0.0100,0.01,4.77430,0.01000
GSM3316752,Control,0.0100,0.01,0.01000,2.87090,6.6788,8.6186,0.61037,0.01,0.01000,...,0.01,0.01,0.01,0.0100,0.01,0.01,0.0100,0.01,4.57170,0.18724
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
GSM2933028,UC,2.8788,0.01,0.01000,1.58760,5.5376,9.0400,0.46910,0.01,0.18799,...,0.01,0.01,0.01,1.9511,0.01,0.01,1.8116,0.01,6.46440,0.01000
GSM2933029,UC,10.1511,0.01,0.44722,0.78939,2.8797,15.3547,0.45695,0.01,0.01000,...,0.01,0.01,0.01,1.8418,0.01,0.01,0.0100,0.01,25.67570,0.01000
GSM2933030,UC,3.4405,0.01,0.01000,1.66600,6.5167,8.2175,0.37781,0.01,0.01000,...,0.01,0.01,0.01,1.2010,0.01,0.01,0.0100,0.01,20.71230,0.01000
GSM2933031,UC,4.5914,0.01,0.24876,1.38210,3.7193,7.8746,0.28224,0.01,0.01000,...,0.01,0.01,0.01,2.3418,0.01,0.01,0.0100,0.01,4.53290,0.01000
GSM2933032,UC,2.2099,0.01,0.01000,1.23470,3.0866,6.8312,0.34797,0.01,0.15526,...,0.01,0.01,0.01,0.0100,0.01,0.01,1.1139,0.01,11.19300,0.01000

In [ ]:
protect_risk_rna_US.Diagnosis.unique()

array(['Control', 'UC'], dtype=object)

In [ ]:
protect_risk_rna_US.Diagnosis.value_counts( )

UC         249
Control     75
Name: Diagnosis, dtype: int64

In [ ]:
protect_risk_rna_US.to_csv('PROTECT_RISK_only_RNA.csv')

Preparing RISK, PROTECT DEGs df prior to z-score normalization

In [ ]:
risk_degs = pd.read_csv('RISK and PROTECT shared DEGs.txt', index_col=0)
df_not_nrm = pd.read_csv('PROTECT_RISK_only_RNA.csv', index_col=0)

In [ ]:
df_not_nrm.head()

In [ ]:
degs_list2 = risk_degs.index.to_list()

In [ ]:
df3_d = df_not_nrm.copy()

In [ ]:
df3_d.iloc[:,0]

In [ ]:
df3_degs = df3_d.iloc[:,0:1]

In [ ]:
#dff = pd.DataFrame()
for i in df_not_nrm.columns:
  if i in degs_list2:
    
    #dff = pd.concat([dff,df2[i]], axis = 1, inplace = True)
    df3_degs[i] = df_not_nrm[i]

df3_degs

In [ ]:
df3_degs.to_csv('PROTECT_and_RISK_shared_DEGs_NOT NORM.csv')

In [ ]:
df_test = df3_degs.copy()

In [ ]:
df_test.describe()

,AAMDC,ABAT,ABCA12,ABCB1,ABCC1,ABCG2,ABLIM2,AC013461.1,AC234582.1,ACAA1,...,ZNF575,ZNF57,ZNF613,ZNF69,ZNF703,ZNF704,ZNF844,ZNF91,ZNRF3,ZSWIM5
count,324.000000,324.000000,324.000000,324.000000,324.000000,324.000000,324.000000,324.000000,324.000000,324.000000,...,324.000000,324.000000,324.000000,324.000000,324.000000,324.000000,324.000000,324.000000,324.000000,324.000000
mean,18.481036,3.686130,1.460926,14.131209,9.399889,8.487860,3.219015,6.710549,679.945166,59.192552,...,3.234691,4.813666,3.258993,5.111352,17.712241,3.080993,2.442990,12.589191,1.543881,2.148078
std,10.509028,1.930181,1.611165,15.173998,4.423135,13.000225,1.702311,2.804100,512.190495,23.807293,...,1.966933,2.081730,1.611000,2.204151,7.665073,1.817260,1.169766,5.566262,0.698195,1.062918
min,5.340900,0.767070,0.010000,0.846780,1.275200,0.200300,0.676770,0.763870,4.060500,21.118300,...,0.706300,1.069800,0.785520,0.805130,2.792200,0.232310,0.519280,3.370200,0.275470,0.232790
25%,12.271325,2.435200,0.109912,4.014650,5.760975,1.082050,2.153400,4.659975,256.253750,42.909825,...,1.806400,3.256200,2.174800,3.580975,12.601525,1.754975,1.671225,8.815900,1.057325,1.369375
50%,15.192550,3.199000,0.967935,7.028650,9.534050,2.640650,2.712100,6.763500,583.526450,51.182550,...,2.613200,4.473300,2.785950,4.838800,15.894100,2.694550,2.268950,11.618300,1.429150,2.046850
75%,21.108275,4.220400,2.244250,18.696525,12.588700,9.167875,3.765825,8.547925,978.399725,68.982350,...,4.194175,6.090225,3.654175,6.491975,20.970450,3.957400,2.897425,15.136850,1.916275,2.697650
max,84.242900,12.412200,8.625800,81.820200,24.768600,67.012800,10.775600,15.801700,2713.060300,151.812400,...,10.794800,11.163100,9.408800,13.347500,51.124500,10.661700,7.409700,40.195800,4.058200,6.115900

In [ ]:
df_test.head()

,Diagnosis,AAMDC,ABAT,ABCA12,ABCB1,ABCC1,ABCG2,ABLIM2,AC013461.1,AC234582.1,...,ZNF575,ZNF57,ZNF613,ZNF69,ZNF703,ZNF704,ZNF844,ZNF91,ZNRF3,ZSWIM5
GSM3316748,Control,25.9348,5.5414,0.039268,36.8688,5.8691,22.0679,5.1852,4.7936,100.4090,...,5.1506,6.7886,5.3642,7.1065,38.7633,4.5095,3.7331,20.2813,3.3339,3.6266
GSM3316749,Control,11.6939,3.7807,0.289900,18.9955,9.7232,4.9927,1.7404,6.8132,188.9640,...,8.1902,6.2496,7.4671,3.8288,20.2415,4.0327,2.4122,13.5649,2.5927,2.2582
GSM3316750,Control,28.4807,5.9662,0.010000,38.3700,6.2720,45.4189,2.4148,2.6355,92.5353,...,9.1893,10.8217,3.3373,4.9504,32.2447,2.9052,2.7927,17.5972,2.0049,3.2104
GSM3316751,Control,35.8430,4.2965,0.010081,35.1791,4.7454,14.0527,5.9738,2.0259,185.8320,...,8.3106,6.6119,5.7008,5.3747,34.0843,3.3492,3.1923,13.9003,1.7972,2.8750
GSM3316752,Control,30.4372,5.7828,0.010000,81.8202,11.7178,26.8624,4.3558,6.7774,114.3290,...,4.6946,7.6748,4.5044,6.7213,33.9893,4.0935,5.3238,22.7351,2.9283,2.4813